.form-control{
    background-color: rgb(236, 236, 236);
}
.form-control:focus{
    background-color: rgb(236, 236, 236);
}

.accordion-button:not(.collapsed){
    background-color: transparent;
    border: 0;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion{
    border:none !important;
    --bs-accordion-border-color:none !important;
}

label{
    margin-bottom: 5px;
}

.preview{
    background-color: rgb(245, 245, 245);
}