
/* button */
.btn-primary{
    background-color: #6777ef !important;
    border: #6777ef !important;
    box-shadow: 0 2px 6px #acb5f6;
}

.btn-primary:hover{
    background-color: rgb(57, 78, 234) !important;
}

.btn-danger{
    box-shadow: 0 2px 6px #fd9b96;
    background-color: #fc544b;
    border: #fc544b;
    color: #fff;
}

.btn-danger:hover{
    background-color: rgb(251, 22, 10) !important;
}
.btn-success{
    box-shadow: 0 2px 6px #a8f5b4;
    background-color: rgb(42, 221, 72);
    border: #63ed7a;
    color: #fff;
}

.btn-success:hover{
    background-color: rgb(25, 199, 54);
}
