.form-field {
    display: block;
    width: 100%;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 30px;
    -webkit-appearance: none;
    color:  #808797;
    border: 1px solid #CDD9ED;
    background: #fff;   
    transition: border .3s ease;
    &::placeholder {
        color:  #b4bac5;
    }
    &:focus {
        outline: none;
        border-color:  #275EFE;
    }
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
    & > span,
    .form-field {
        white-space: nowrap;
        display: block;
        border-left: none;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 8px 0 0 8px;
        }
        &:last-child {
            border-radius: 0 8px 8px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & > span {
        text-align: center;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 25px;
        color: #CDD9ED;
        background: white;
        border: 1px solid#CDD9ED;
        border-right: 0px;
        transition: background .3s ease, border .3s ease, color .3s ease;

    }
    &:focus-within {
        & > span {
            color: #CDD9ED;
            background: white;
            border-color:  #275EFE;
            border-right: 0px;

        }
    }
}
